/* Global */
body {
    background-color: #2A2E32;
    overflow-x: hidden;
}

/* Colour Scheming */
.colour-light-dark {
    background-color: #2A2E32;
}

.colour-dark {
    background-color: #212529;
}

.bg-transparent {
    background: transparent;
}

.dark-input {
    background-color: #2A2E32;
    border-color: #1B1E22;
    caret-color: white;
    color: white;
}

.dark-input:focus {
    background-color: #2A2E32;
    border-color: #1B1E22;
    caret-color: white;
    color: white;
}

/* Fonts */

* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.lato-strong {
    font-weight: 700;
}

.lato-light {
    font-weight: 200;
}

/* General */
.remove-underline {
    text-decoration: none;
}